/* Стили для контейнера с элементами управления (ссылка и кнопка) */
.header__controls {
    display: flex; /* Включаем Flexbox для выравнивания дочерних элементов */
    justify-content: flex-end; /* Прижимаем элементы к правому краю контейнера */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    gap: 20px; /* Задаем расстояние между элементами (ссылка и кнопка) */
}

/* Общие стили для всей страницы */
body {
  font-family: 'Raleway', sans-serif; /* Устанавливаем шрифт для всей страницы */
  color: #213053; /* Цвет текста по умолчанию */
  margin: 0; /* Убираем внешние отступы у body */
}

/* Стили для шапки сайта */
header {
    display: flex; /* Включаем Flexbox для выравнивания дочерних элементов */
    justify-content: space-between; /* Распределяем пространство между логотипом и .header__controls */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    padding: 20px; /* Добавляем внутренние отступы для шапки */
}

/* Стили для логотипа в шапке */
.header__logo {
  height: 30px; /* Задаем высоту логотипа */
}

/* Общие стили для всех ссылок */
a {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  color: #213053; /* Цвет текста для ссылок */
}

/* Стили для ссылок в шапке */
header a {
  font-size: 20px; /* Размер шрифта для ссылок */
  font-weight: 700; /* Жирность шрифта */
  margin-right: 25px; /* Отступ справа для ссылки (если есть несколько ссылок) */
}

/* Стили для кнопок */
button {
  font-family: 'Raleway', sans-serif; /* Шрифт для текста кнопки */
  font-size: 15px; /* Размер шрифта */
  color: #fff; /* Цвет текста кнопки (белый) */
  background-color: #1A468E; /* Цвет фона кнопки (синий) */
  border: none; /* Убираем границу у кнопки */
  border-radius: 15px; /* Закругляем углы кнопки */
  cursor: pointer; /* Меняем курсор на указатель при наведении */
  box-shadow: 0 16px 36px rgba(34, 72, 238, 0.22); /* Тень для кнопки */
  padding:  15px 25px; /* 15px — вертикальные отступы, 25px — горизонтальные */
}

.about__image {
  width: 500px;
}
 
.about__sun-image {
  width: 150px;
  height: 150px;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 115px;
  padding-bottom: 115px;
  background: url(../green-corp-landing/img/back.png) no-repeat; /* Путь к изображению */
  background-position: center;
  background-size: cover;
}


.about h1 {
  font-size: 70px;
  line-height: 76px;
}
.about p {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.8;
}
.about button {
  font-size: 18px;
  border-radius: 20px;
  padding:  20px 30px;
  margin-top: 20px;
}
.about__info {
   max-width: 550px;
  padding-left: 20px; /* Отступ слева */
  padding-right: 20px; /* Отступ справа */
}
.form__container {
  width: 550px;
}
